<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>search</title>
    <link href="css/style.min.css" rel="stylesheet">
    <script type="text/javascript" src="./angular.min.js"></script>
    <style>
        .ADMINBOX .row {
            display: flex;
            margin: 10px;
        }

        .ADMINBOX .row1 {
            width: 150px;
            text-align: right;
        }
    </style>
</head>

<body>
    <div ng-app="adminApp" ng-controller="adminCtrl" class="lyear-layout-web">
        <div class="lyear-layout-container">
            <!-- <aside class="lyear-layout-sidebar">
                <ul class="nav nav-drawer">
                    <li> <a href="../html/search.html">Back</a> </li>
                </ul>
            </aside> -->
            <header class="lyear-layout-header">
                <nav class="navbar navbar-default">
                    <div class="topbar">
                        <div class="topbar-left">
                            <span class="navbar-page-title">fundraisers manage</span>
                        </div>
                    </div>
                </nav>
            </header>
            <main class="main">
                <div class="row" style="display: flex;">
                    <div style="width: 65%;overflow: auto;height: 85vh;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>OTHER</th>
                                    <th>FUNDRAISER_ID</th>
                                    <th>ORGANIZER</th>
                                    <th>CAPTION</th>
                                    <th>TARGET_FUNDING</th>
                                    <th>CURRENT_FUNDING</th>
                                    <th>CITY</th>
                                    <th>ACTIVE</th>
                                    <th>CATEGORY_ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in list">
                                    <td>
                                        <button type="button" ng-click="updatebefore(item)">UPDATE</button>
                                        <button type="button" ng-click="delete(item)">DELETE</button>
                                    </td>
                                    <td>{{item.FUNDRAISER_ID}}
                                    </td>
                                    <td>{{item.ORGANIZER}}</td>
                                    <td>{{item.CAPTION}}</td>
                                    <td>{{item.TARGET_FUNDING}}</td>
                                    <td>{{item.CURRENT_FUNDING}}</td>
                                    <td>{{item.CITY}}</td>
                                    <td>{{item.ACTIVE}}</td>
                                    <td>{{item.CATEGORY_ID}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="width: 35%;margin: 20px;border: 1px solid #000;border-radius: 10px;">
                        <div style="padding: 50px;" class="ADMINBOX">
                            <form novalidate>
                                <div class="row">
                                    <div class="row1">FUNDRAISER_ID:</div>
                                    <input type="text" ng-model="FUNDRAISER_ID">
                                </div>
                                <div class="row">
                                    <div class="row1">ORGANIZER:</div>
                                    <input type="text" ng-model="ORGANIZER">
                                </div>
                                <div class="row">
                                    <div class="row1">CAPTION:</div>
                                    <input type="text" ng-model="CAPTION">
                                </div>
                                <div class="row">
                                    <div class="row1">TARGET_FUNDING:</div>
                                    <input type="text" ng-model="TARGET_FUNDING">
                                </div>
                                <div class="row">
                                    <div class="row1">CURRENT_FUNDING:</div>
                                    <input type="text" ng-model="CURRENT_FUNDING">
                                </div>
                                <div class="row">
                                    <div class="row1">CITY:</div>
                                    <input type="text" ng-model="CITY">
                                </div>
                                <div class="row">
                                    <div class="row1">ACTIVE:</div>
                                    <input type="text" ng-model="ACTIVE">
                                </div>
                                <div class="row">
                                    <div class="row1">CATEGORY_ID:</div>
                                    <select style="width: 150px;" ng-model="CATEGORY_ID">
                                        <option ng-repeat="x in CATEGORY_IDs" value="{{x.CATEGORY_ID}}">{{x.NAME}}
                                        </option>
                                    </select>
                                </div>
                            </form>
                            <button type="button" ng-show="buttontype == 'add fundraiser'" ng-click="Add()"
                                class="btn btn-primary ajax-post" style="margin-left: 150px;">{{buttontype}}</button>
                            <button type="button" ng-show="buttontype == 'update fundraiser'" ng-click="update()"
                                class="btn btn-primary ajax-post" style="margin-left: 150px;">{{buttontype}}</button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script type="text/javascript">
        var app = angular.module('adminApp', []);
        app.controller('adminCtrl', function ($scope, $http) {
            $scope.paraminit = location.search ? location.search.split('?') : ''
            $scope.buttontype = 'add fundraiser'
            $http.get("http://localhost:9001/api/getCategoriesList")
                .success(function (response) {
                    $scope.CATEGORY_IDs = response;
                });

            $scope.initlist = function () {
                $http.get(`http://localhost:9001/api/getFundraisersList`)
                    .success(function (response) {
                        $scope.list = response;
                    });
            }
            $scope.initlist()
            $scope.Add = function () {
                $http.post(`http://localhost:9001/api/addFundraiser`, {
                    "FUNDRAISER_ID": $scope.FUNDRAISER_ID,
                    "ORGANIZER": $scope.ORGANIZER,
                    "CAPTION": $scope.CAPTION,
                    "TARGET_FUNDING": $scope.TARGET_FUNDING,
                    "CURRENT_FUNDING": $scope.CURRENT_FUNDING,
                    "CITY": $scope.CITY,
                    "ACTIVE": $scope.ACTIVE,
                    "CATEGORY_ID": $scope.CATEGORY_ID,
                }, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .success(function (response) {
                        alert(`add success`)
                        $scope.initlist()
                    });
            }
            $scope.updatebefore = function (param) {
                $scope.FUNDRAISER_ID = param.FUNDRAISER_ID
                $scope.ORGANIZER = param.ORGANIZER
                $scope.CAPTION = param.CAPTION
                $scope.TARGET_FUNDING = param.TARGET_FUNDING
                $scope.CURRENT_FUNDING = param.CURRENT_FUNDING
                $scope.CITY = param.CITY
                $scope.ACTIVE = param.ACTIVE
                $scope.CATEGORY_ID = param.CATEGORY_ID
                $scope.ID = param.ID
                $scope.buttontype = 'update fundraiser'
            }
            $scope.update = function () {
                $http.put(`http://localhost:9001/api/updateFundraiser`, {
                    "FUNDRAISER_ID": $scope.FUNDRAISER_ID,
                    "ORGANIZER": $scope.ORGANIZER,
                    "CAPTION": $scope.CAPTION,
                    "TARGET_FUNDING": $scope.TARGET_FUNDING,
                    "CURRENT_FUNDING": $scope.CURRENT_FUNDING,
                    "CITY": $scope.CITY,
                    "ACTIVE": $scope.ACTIVE,
                    "CATEGORY_ID": $scope.CATEGORY_ID,
                    "ID": $scope.ID,
                }, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .success(function (response) {
                        alert(`update success`)
                        $scope.initlist()
                    });
            }
            $scope.delete = function (row) {
                $http.get(`http://localhost:9001/api/getDonationsByFUNDRAISERID?FUNDRAISER_ID=${row.FUNDRAISER_ID}`)
                    .success(function (response) {
                        if (!response.length) {
                            $http.delete(`http://localhost:9001/api/deleteFundraiser?ID=${row.ID}`)
                                .success(function (response) {
                                    alert(`delete success`)
                                    $scope.initlist()
                                });
                        } else {
                            alert('Only fundraisers that do not have donations yet can be deleted')
                        }
                    });

            }
        });

    </script>
</body>

</html>