<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>search</title>
    <link href="css/style.min.css" rel="stylesheet">
    <script type="text/javascript" src="./angular.min.js"></script>
</head>

<body>
    <div ng-app="serchApp" ng-controller="serchCtrl" class="lyear-layout-web">
        <div class="lyear-layout-container">
            <aside class="lyear-layout-sidebar">
                <ul class="nav nav-drawer">
                    <li> <a href="index.html">home</a> </li>
                    <li> <a href="fundraiser.html">fundraiser</a> </li>
                    <li> <a href="search.html">searchFundraisers</a> </li>
                </ul>
            </aside>
            <header class="lyear-layout-header">
                <nav class="navbar navbar-default">
                    <div class="topbar">
                        <div class="topbar-left">
                            <span class="navbar-page-title">search fundraisers</span>
                        </div>
                    </div>
                </nav>
            </header>
            <main class="lyear-layout-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="card" style="background: #bcc6ed;">
                            <div class="form-group col-md-6">
                                <label for="FUNDRAISER_ID">FUNDRAISER_ID</label>
                                <input type="text" class="form-control" ng-model="FUNDRAISER_ID" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="CITY">CITY</label>
                                <input type="text" class="form-control" ng-model="CITY" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="CATEGORY_ID">CATEGORY_ID</label>
                                <select style="width: 150px;" class="form-control" ng-model="CATEGORY_ID">
                                    <option ng-repeat="x in CATEGORY_IDs" value="{{x.CATEGORY_ID}}">{{x.NAME}}</option>
                                </select>
                            </div>
                            <button type="button" ng-click="Query()" class="btn btn-primary ajax-post"
                                style="margin-left: 25px;">Query</button>
                            <button type="button" ng-click="Clear()" class="btn btn-primary ajax-post"
                                style="margin-left: 25px;">Clear</button>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>FUNDRAISER_ID</th>
                                            <th>ORGANIZER</th>
                                            <th>CAPTION</th>
                                            <th>TARGET_FUNDING</th>
                                            <th>CURRENT_FUNDING</th>
                                            <th>CITY</th>
                                            <th>ACTIVE</th>
                                            <th>CATEGORY_ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in list">
                                            <td><a
                                                    ng-href="{{'./fundraiser.html?' + item.FUNDRAISER_ID}}">{{item.FUNDRAISER_ID}}</a>
                                            </td>
                                            <td>{{item.ORGANIZER}}</td>
                                            <td>{{item.CAPTION}}</td>
                                            <td>{{item.TARGET_FUNDING}}</td>
                                            <td>{{item.CURRENT_FUNDING}}</td>
                                            <td>{{item.CITY}}</td>
                                            <td>{{item.ACTIVE}}</td>
                                            <td>{{item.CATEGORY_ID}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="font-weight: bold;color: #f00;text-align: center;">
                                    {{note}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script type="text/javascript">
        var app = angular.module('serchApp', []);
        app.controller('serchCtrl', function ($scope, $http) {
            $scope.FUNDRAISER_ID = ''
            $scope.CITY = ''
            $scope.CATEGORY_ID = '1'
            $http.get("http://localhost:9001/api/getCategoriesList")
                .success(function (response) {
                    $scope.CATEGORY_IDs = response;
                });
            $scope.Query = function () {
                if (!$scope.FUNDRAISER_ID && !$scope.CITY && !$scope.CATEGORY_ID) {
                    alert('Web users must select at least one criteria !')
                    return
                }
                $http.get(`http://localhost:9001/api/getFundraisersListByType?FUNDRAISER_ID=${$scope.FUNDRAISER_ID}&CITY=${$scope.CITY}&CATEGORY_ID=${$scope.CATEGORY_ID}`)
                    .success(function (response) {
                        if (response.length) {
                            $scope.list = response;
                            $scope.note = '';
                        } else {
                            $scope.list = [];
                            $scope.note = 'no fundraisers are found';
                        }
                    });
            }
            $scope.Clear = function () {
                $scope.FUNDRAISER_ID = ''
                $scope.CITY = ''
                $scope.CATEGORY_ID = ''
            }
            $scope.goDetails = function () {
                location.href = "https://www.example.com"
            }
        });

    </script>
</body>

</html>